In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
tabela = pd.read_csv("clientes.csv")
tabelaNovosClientes = pd.read_csv("novos_clientes.csv")

codificadorProfissao = LabelEncoder()
codificadorMixCredito = LabelEncoder()
codificadorComportamentoPagamento = LabelEncoder()

modeloArvoreDecisao = RandomForestClassifier()
modeloKnn = KNeighborsClassifier()

In [3]:
# preparando a tabela para ser lida pela IA usando Label Encoder
tabela["profissao"] = codificadorProfissao.fit_transform(tabela["profissao"])
tabela["mix_credito"] = codificadorMixCredito.fit_transform(tabela["mix_credito"])
tabela["comportamento_pagamento"] = codificadorMixCredito.fit_transform(tabela["comportamento_pagamento"])

display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(10), object(1)
memory usage: 19.1+ MB

None

In [13]:
x = tabela.drop(columns=["score_credito","id_cliente"])
y = tabela["score_credito"]
x_train, x_test, y_train, y_test = train_test_split(x, y,train_size=0.8)

modeloArvoreDecisao.fit(x_train, y_train)
modeloKnn.fit(x_train, y_train)

previsaoArvoreDecisão = modeloArvoreDecisao.predict(x_test)
previsaoKnn = modeloKnn.predict(x_test)

print(accuracy_score(y_test, previsaoArvoreDecisão))
print(accuracy_score(y_test, previsaoKnn))

0.8301
0.749

In [14]:
tabelaNovosClientes["profissao"] = codificadorProfissao.fit_transform(tabelaNovosClientes["profissao"])
tabelaNovosClientes["mix_credito"] = codificadorMixCredito.fit_transform(tabelaNovosClientes["mix_credito"])
tabelaNovosClientes["comportamento_pagamento"] = codificadorMixCredito.fit_transform(tabelaNovosClientes["comportamento_pagamento"])

previsaoReal = modeloArvoreDecisao.predict(tabelaNovosClientes)
display(previsaoReal)
display(tabelaNovosClientes)

array(['Poor', 'Good', 'Standard'], dtype=object)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,1,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,1,312.487689,1,1,0,0,0
1,4,32.0,0,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,2,300.994163,0,0,0,0,1
2,2,48.0,1,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,0,345.081577,0,1,0,1,0